

:root {

    /* https://coolors.co/333951-e9f2f4-395ea2-587dce-4f5773 */
    --background: #333951;
    --background-output: #4F5773;
    --button: #395EA2;
    --button-hover: #587DCE;
    --text-color: #E9F2F4;
    --executiontime-color: #8e98b8;
    --code-background: #272822;
}

html, body {
    height: 100%;
    background-color: var(--background);
}

body {
    padding-left: 10%;
    color: #E9F2F4;
    padding-right: 10%;
    padding-bottom: 30px;
} 

.mainlayout {
    width: 80%;
}

.button {
    display: block;
    background-color: var(--button);
    width: auto;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
}

.button:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

.button-disabled {
    background-color: #BABFD4; /* TODO: color */
}

h1, h2,h3,h4, h5 {
    cursor: default;
}

h4 {
    margin-top: 1em;
    font-weight: bold;
}

.text {
    cursor: default;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

/* .collapsible > div {
    margin-left: 1em;
} */

.collapsible > .label {
    cursor: pointer;
} 

.collapsed > * {
    display: none;
}

.collapsed > .label {
    display: block;
}

.output {
    background-color: var(--background-output);
    border-radius: 8px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: default;
}

.executiontime {
    color: var(--executiontime-color);
}

.box {
    display: flex;
}

.push-right {
    margin-left: auto;
}

/*
    CODE EDITOR
*/

/* *,
*:before,
*:after {
    box-sizing: border-box;
} */

.static-render {
    white-space: normal;
    cursor:default;
}

.static-render-div {
    border-radius: 8px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    white-space: normal;
    background-color: var(--code-background);
}

.assignment {
    font-weight: bold;
}



label,
textarea,
iframe {
    display: block;
    width: 100%;
}

textarea {
    margin-bottom: 1.5em;
    min-height: 8em;
}

.editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
}

.editor pre,
.editor textarea {
    grid-area: 1 / 1 / 2 / 2;
}

pre,
.editor textarea {
    background-color: #f7f7f7;
    color: #272727;
    display: block;
    line-height: 1.5;
    margin: 0.5em 0;
    overflow: auto;
    padding: 1em;
    white-space: pre-wrap;
    word-break: break-all;
}

.editor textarea {
    background-color: transparent;
    border: none;
    color: transparent;
    caret-color: #f7f7f7;
    tab-size: 4;
    overflow: hidden;
    resize: none;
    width: 100%;

    outline: none;
}

code {
    word-wrap: break-word;
}

pre,
code,
.editor textarea {
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size: 1em;
}

pre code {
    color: inherit;
    font-size: 1em;
}


/*
    CODE EDITOR END
*/